<!-- Template pour la page du formulaire de connexion -->

{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <!-- Appel de la route du formulaire -->
            <form action="{{url_for('connexion')}}" method="post" name="connexion">
            {{ form.hidden_tag() }}
                <br>
                <!-- Champs pour la saisie du pseudo -->
                <label for="pseudo" class="etiquette">Nom d'utilisateur</label>
                {{ form.pseudo(class_="form-control", placeholder_="Saisissez votre nom d'utilisateur") }}
                <!-- Champs pour la saisie du mot de passe -->
                <label for="password" class="etiquette">Mot de passe</label>
                {{ form.password(class_="form-control", placeholder_="Saisissez votre mot de passe") }}
                <br>
                <!-- Bouton d'envoi -->
                <input type="submit" class="btn btn-success btn-lg singin" value="Se connecter">
            </form>
        </div>
    </div>
</div>

{% endblock %}