<!-- Template pour la page du formulaire de connexion -->

{% extends "partials/conteneur.html" %}

{% block body %}

<style>
    .form-control:focus, .form-control:active, .form-password:focus {
        box-shadow:none;
        background-color: #e6ffff
    }

    .pseudo {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .mdp {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .singin {
        margin-left: 40%;
        margin-top:15px;
        display: inline-block;
    }

    .form-control {
        border: 5px dotted darkolivegreen ;
        background-color:palegoldenrod;

    }  

</style>

<div class="row">
    <div class="col-6 offset-3">
        <form action="{{url_for('connexion')}}" method="post" name="connexion">
        {{ form.hidden_tag() }}
            <br>
            <label for="pseudo"><br><p class="pseudo">Pseudonyme</p></label>
            {{ form.pseudo(class_="form-control", placeholder_="Insérez votre pseudo") }}
            <label for="password"><br><p class="mdp">Mot de passe</p></label>
            {{ form.password(class_="form-control", placeholder_="Insérez votre mot de passe") }}
            <br>
            <input type="submit" class="btn btn-success btn-lg singin" value="Se connecter">
            <br>
            <br>
        </form>
    </div>
</div>

{% endblock %}