<!-- Template pour la page destinée à l'insertion d'une transcription et d'un commentaire dans la table poemes -->

{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <!-- Titre du poème dont l'utilisateur veut modifier la transcription -->
        <h3 class="col-11 offset-1">{{donnees.titre}}</h3>
        <div class="col-3">
            <!-- Image du poème à partir de Gallica -->
            <img src="{{url}}3A%2F12148%2Fbtv1b8451620k/{{folio}}/full/full/0/native.jpg" class="illu"/>
        </div>
        <div class="col-5 offset-1 insertion">
            <!-- Appel de la route du formulaire -->
            <form action="{{url_for('insertion_poeme', folio=folio)}}" method="post" name="insertion_poeme">
            {{ form.hidden_tag() }}
                <!-- Champs pour la correction de la transcription-->
                <label for="ocr">Transcription</label>
                {{ form.ocr(class_="form-control", placeholder_="Votre transcription du poème") }}
                <!-- Champs permettant à l'utilisateur d'ajouter un commentaire -->
                <label for="commentaire">Commentaire</label>
                {{ form.commentaire(class_="form-control", placeholder_="Commentaire") }}
                <br>
                <!-- Bouton d'envoi -->
                <input type="submit" class="btn btn-success btn-md modification" value="Envoyer"> 
            </form>
        </div>
    </div>
</div>

{% endblock%}