<html>
    <body>
        <form action="{{url_for('connexion', folio=folio)}}" method="post" name="connexion">
        {{ form.hidden_tag() }}

            <div>
                <label for="pseudo">Pseudonyme</label>
                {{ form.pseudo(class_="form-control", placeholder_="Pseudonyme") }}
                <label for="password">Mot de passe</label>
                {{ form.password(class_="form-control", placeholder_="Mot de passe") }}
            </div>
            <p>
                <input type="submit" value="Connexion">
            </p>
        </form>
    </body>
</html>