<html>
    <body>
        <h1>Liste des planches botaniques</h1>
        <br>
            <div>
                {%if donnees.prev_num %}
                    <a href="{{ url_for('herbier', page=donnees.prev_num) }}" class="{% if donnees.page == 1 %}disabled{% endif %}">
                            &laquo;
                    </a>
                {% endif %}
    
                {% for folio in donnees.items %}
                    {% if (donnees.items).index(folio) == 0 %}
                    <a id="list-{{folio.id}}-list" data-toggle="list" href="#list-{{folio.id}}" role="tab" aria-controls="{{folio.id}}">{{folio.id}}</a>
                    {% else %}
                    <a id="list-{{folio.id}}-list" data-toggle="list"
                        href="#list-{{folio.id}}" role="tab" aria-controls="{{folio.id}}">{{folio.id}}</a>
                    {% endif %}
                {% endfor %}
    
                {%if donnees.next_num %}
                    <a id="list-list-next" href="{{ url_for('herbier', page=donnees.next_num) }}" class="{% if donnees.page == donnees.pages %}disabled{% endif %}">
                        &raquo;
                    </a>
                {% endif %}
            </div>
            <div>
                {% for folio in donnees.items %}
                    {% if (donnees.items).index(folio) == 0 %}
                    <div id="list-{{folio.id}}" role="tabpanel" aria-labelledby="list-{{folio.id}}-list">
                        <a href="{{ url_for('identification', folio=folio.id) }}"> Voir les données de {{folio.id}}</a>
                        <br>
                        {{folio.id_poeme}}
                    </div>
                    {% else %}
                    <div id="list-{{folio.id}}" role="tabpanel" aria-labelledby="list-{{folio.id}}-list">
                        <a href="{{ url_for('identification', folio=folio.id) }}"> Voir les données de {{folio.id}}</a>
                        <br>
                        {{folio.id_poeme}}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        <br>
        <div>
            <a href="{{ url_for('herbier', page=donnees.prev_num) }}" class="{% if donnees.page == 1 %}disabled{% endif %}">
                &laquo;
            </a>
            {% for page_num in donnees.iter_pages() %}
                {% if page_num %}
                    {% if donnees.page == page_num %}
                        <a href="{{ url_for('herbier', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a href="{{ url_for('herbier', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                ...
                {% endif %}
            {% endfor %}
            <a href="{{ url_for('herbier', page=donnees.next_num) }}" class="{% if donnees.page == donnees.pages %}disabled{% endif %}">
                &raquo;
            </a>
        </div>
    </body>
</html>