<!-- Template pour les pages individuelles des poèmes -->

{% extends "partials/conteneur.html" %}

{% block body %}

<style>
    a {
        color:white;
        text-decoration: none;
    }

    a:hover {
        color: #e6ffff;
    }

    h3 {
        font-family: cursive;
        font-size: 27px;
        padding-top: 20px;
    }

    .illu {
        width: 300px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .metadonnees {
        margin-bottom: 30px;
        font-size: 19px;
        text-align: center;
    }

    .metadonnees>p {
        font-family: cursive;
        text-align: left;
        list-style-type: none;
        margin-top: 20%;
    }

    .metadonnees.button {
        display: block;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <h3 class="col-11 offset-1">{{donnees.titre}} ({{donnees.id}})</h3>
        <div class="col-3">
            <img src="https://gallica.bnf.fr/iiif/ark%3A%2F12148%2Fbtv1b8451620k/{{folio}}/full/full/0/native.jpg" class="illu"/>
        </div>
        <div class="col-6 offset-1 metadonnees">
            <p>{{donnees.ocr}}</p>
            {% if donnees.commentaire %}
                <p>Commentaire : {{donnees.commentaire}}</p>
            {% endif %}
            <button type="button" class="btn btn-success btn">
                <a href="{{ url_for('info_plante', folio=donnees.id_plante) }}" onclick="loading();">Découvrez la plante associée</a> 
             </button>
            <button type="button" class="btn btn-success">
                <a href="{{ url_for('insertion_poeme', folio=donnees.id) }}">Proposer ma modification</a>
            </button>          
        </div>
    </div>
</div>
{% endblock %}