{% extends "partials/conteneur.html" %}

{% block body %}
<div>
    {% block content %}
        <h5>
            {{donnees.titre }} ({{donnees.id}})
        </h5>
        <table>
            <tr>
                <td>
                    <img src="https://gallica.bnf.fr/iiif/ark%3A%2F12148%2Fbtv1b8451620k/{{folio}}/full/full/0/native.jpg" style="width:300px;"/>
                </td>
                <td>
                    <div>
                        <p>{{donnees.ocr}}</p>
                    </div>
                    <div>
                        {% if donnees.commentaire %}
                        <p>Commentaire : {{donnees.commentaire}}</p>
                        {% else %}
                        <a href="{{ url_for('insertion_poeme', folio=donnees.id) }}">Écrire un commentaire</a>

                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
    {% endblock %}
</div>

{% endblock %}