<!-- Template pour les pages individuelles des planches botaniques -->

{% extends "partials/conteneur.html" %}

{% block body %}

<style>
    a {
        color:white;
        text-decoration: none;
    }

    a:hover {
        color: #e6ffff;
    }

    h3 {
        font-family: cursive;
        font-size: 27px;
        padding-top: 20px;
    }

    .illu {
        width: 300px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .metadonnees {
        margin-bottom: 30px;
        font-size: 19px;
        text-align: center;
    }

    .metadonnees>ul {
        font-family: cursive;
        text-align: left;
        list-style-type: none;
        margin-top: 20%;
    }

    .metadonnees.button {
        display: block;
    }

    .myid {
        background-color:palegoldenrod;
        margin-top: 90px;
        margin-bottom: 200px;
        text-align: center;
        border-style: dashed;
        border-radius: 25px;
        border-color: darkolivegreen;
    }
    
    .suggestion {
        text-shadow: 2px 2px 4px olive;
        margin-top: 40px;
        margin-right: 50px;
        margin-bottom: 10px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <h3 class="col-11 offset-1">{{donnees.poems[0].titre}}</h3>
        <div class="col-3">
            <img src="https://gallica.bnf.fr/iiif/ark%3A%2F12148%2Fbtv1b8451620k/{{folio}}/full/full/0/native.jpg" class="illu"/>
        </div>
        <div class="col-5 metadonnees">
            <ul>
            <!-- Appel des données ajoutées à la base via la route -->
                <li><b>{{donnees.famille}}</b></li>
                <li>
                    {% if donnees.nom_latin1 %}
                        {{donnees.nom_latin1}}
                    {% endif %}
                    {% if donnees.nom_commun1 %}
                        ({{donnees.nom_commun1}})
                    {% endif %}
                </li>
                <li>
                    {% if donnees.nom_latin2 %}
                        {{donnees.nom_latin2}}
                    {% endif %}
                    {% if donnees.nom_commun2 %}
                        ({{donnees.nom_commun2}})
                    {% endif %}
                </li>
                <li>
                    {% if donnees.nom_latin3 %}
                        {{donnees.nom_latin3}}
                    {% endif %}
                    {% if donnees.nom_commun3 %}
                        ({{donnees.nom_commun3}})
                    {% endif %}
                </li>
            </ul>
            <button type="button" class="btn btn-success btn">
                <a href="{{ url_for('info_poeme', folio=donnees.poems[0].id) }}">Découvrez le poème associé</a> 
            </button>
        </div>
        <div class="col-3 myid">
            {% if donnees.famille2 %}
            <h4>Mon identification</h4>
            <li>Famille : {{donnees.famille2}}</li>
            <li>Nom commun : {{donnees.nom_commun4}}</li>
            <li>Nom latin : {{donnees.nom_latin4}}</li>
            <li>Commentaire : {{donnees.commentaire}}</li>
            {% else %}
            <p class="suggestion">Une suggestion à faire ?</p>
            <button type="button" class="btn btn-success">
                <a href="{{ url_for('insertion_plante', folio=donnees.id) }}">Proposer mon identification</a>
            </button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
