<!-- PAGE TEST À SUPPRIMER -->

<html>
    <head>
        <title>Test API Pl@ntNet</title>
    </head>

    <body>
        <div>
            {% block content %}
            <h5>{{ image }}</h5>
                <table>
                    <tr>
                        <td>
                        <img src="https://gallica.bnf.fr/iiif/ark%3A%2F12148%2Fbtv1b8451620k/{{folio}}/full/full/0/native.jpg" style="width:300px;"/>
                        </td>
                        <td>
                            <ul>
                                <!-- Appel des données ajoutées à la base via la route -->
                                <li>Identifiant : {{donnees.id}}</li>
                                <li>Famille : {{donnees.famille}}</li>
                                {% if donnees.nom_latin1 %}
                                    <li>Nom latin 1 : {{donnees.nom_latin1}}</li>
                                {% endif %}
                                {% if donnees.nom_commun1 %}
                                    <li>Nom commun 1 : {{donnees.nom_commun1}}</li>
                                {% endif %}
                                {% if donnees.nom_latin2 %}
                                    <li>Nom latin 2 : {{donnees.nom_latin2}}</li>
                                {% endif %}
                                {% if donnees.nom_commun2 %}
                                    <li>Nom commun 2 : {{donnees.nom_commun2}}</li>
                                {% endif %}
                                {% if donnees.nom_latin3 %}
                                    <li>Nom latin 3 : {{donnees.nom_latin3}}</li>
                                {% endif %}
                                {% if donnees.nom_commun3 %}
                                    <li>Nom commun 3 : {{donnees.nom_commun3}}</li>
                                {% endif %}
                            </ul>
                            <ul>
                                {% if donnees.famille2 %}
                                <h4>Mon identification</h4>
                                <li>Famille : {{donnees.famille2}}</li>
                                <li>Nom commun : {{donnees.nom_commun4}}</li>
                                <li>Nom latin : {{donnees.nom_latin4}}</li>
                                <li>Commentaire : {{donnees.commentaire}}</li>

                                {% else %}
                                <a href="{{ url_for('insertion_plante', folio=donnees.id) }}">Proposer mon identification</a>

                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                </table>
            {% endblock %}
        </div>
    </body>
</html>