<!-- Template pour les pages individuelles des poèmes -->

{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <!-- Titre et numéro de la planche -->
        <h3 class="col-11 offset-1">{{donnees.titre}} ({{donnees.id}})</h3>
        <div class="col-4">
            <!-- Appel de l'image par l'API IIIF de Gallica + utilisation de la variable folio pour l'adapter à chaque page -->
            <img src="{{url}}3A%2F12148%2Fbtv1b8451620k/{{folio}}/full/full/0/native.jpg" class="illu"/>
        </div>
        <div class="col-4 ocr">
            <!-- Affichage de la transcription depuis la requête définie dans la route -->
            <p>{{donnees.ocr}}</p>
            <br>
            <button type="button" class="btn btn-success btn illustration_associee">
                <a href="{{ url_for('info_plante', folio=donnees.id_plante) }}" onclick="loading();">Découvrez la plante associée</a> 
             </button>
             <br>
             <!-- Bouton pour l'export du texte OCR en PDF -->
            <button type="button" class="btn btn-success btn pdf">
                <a href="{{ url_for('print_pdf', name=folio) }}">Exporter le texte en PDF</a>
            </button>        
        </div>
        <div class="col-3 myid">
            <!-- Affichage de l'annotation de l'utilisateur si celle-ci existe -->
            {% if donnees.commentaire %}
            <p>Commentaire : {{donnees.commentaire}}</p>
            <button type="button" class="btn btn-success">
                <a href="{{ url_for('suppression_poeme', folio=donnees.id) }}">Supprimer la transcription</a>
            </button>
            {% else %}
            <p class="suggestion">Une modification à faire ?</p>
            <!-- Bouton vers la page d'insertion dans la table poeme -->
            <button type="button" class="btn btn-success">
                <a href="{{ url_for('insertion_poeme', folio=donnees.id) }}">Corriger la transcription</a>
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}