<!-- Template pour les pages individuelles des planches botaniques -->

{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <!-- Titre de l'illustration à partir de la table poème jointe -->
        <h3 class="col-11 offset-1">{{donnees.poems[0].titre}}</h3>
        <div class="col-3">
            <!-- Appel de l'image par l'API IIIF de Gallica + utilisation de la variable folio pour l'adapter à chaque page -->
            <img src="https://gallica.bnf.fr/iiif/ark%3A%2F12148%2Fbtv1b8451620k/{{folio}}/full/full/0/native.jpg" class="illu"/>
        </div>
        <div class="col-5 metadonnees">
            <ul>
            <!-- Affichage des données ajoutées à la base via la route, si ces dernières existent -->
                <li><b>{{donnees.famille}}</b></li>
                <li>
                    {% if donnees.nom_latin1 %}
                        {{donnees.nom_latin1}}
                    {% endif %}
                    {% if donnees.nom_commun1 %}
                        ({{donnees.nom_commun1}})
                    {% endif %}
                </li>
                <li>
                    {% if donnees.nom_latin2 %}
                        {{donnees.nom_latin2}}
                    {% endif %}
                    {% if donnees.nom_commun2 %}
                        ({{donnees.nom_commun2}})
                    {% endif %}
                </li>
                <li>
                    {% if donnees.nom_latin3 %}
                        {{donnees.nom_latin3}}
                    {% endif %}
                    {% if donnees.nom_commun3 %}
                        ({{donnees.nom_commun3}})
                    {% endif %}
                </li>
            </ul>
            <!-- Lien vers le poème qu'illustre la planche botanique -->
            <button type="button" class="btn btn-success btn">
                <a href="{{ url_for('info_poeme', folio=donnees.poems[0].id) }}">Découvrez le poème associé</a> 
            </button>
        </div>

        <div class="col-3 myid">
            <!-- Affichage des modifications si existantes en base pour la plante affichée -->
            {% if donnees.famille2 %}
            <h5>Mon identification</h5>
            <ul>
                <li><b>{{donnees.famille2}}</b></li>
                <li>{{donnees.nom_latin4}} ({{donnees.nom_commun4}})</li>
                <li>Commentaire : {{donnees.commentaire}}</li>
            </ul>
            <button type="button" class="btn btn-success">
                <a href="{{ url_for('suppression_plante', folio=donnees.id) }}">Supprimer l'identificaiton</a>
            </button>
            {% else %}
            <!-- Si l'utilisateur n'a pas identifié la plante, lui proposer de le faire -->
            <p class="suggestion">Une suggestion à faire ?</p>
            <button type="button" class="btn btn-success">
                <a href="{{ url_for('insertion_plante', folio=donnees.id) }}">Proposer mon identification</a>
            </button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
