<html>
    <body>
        <div>
            {% block content %}
            <h5>
                {{ donnees.titre }}
            </h5>
                <table>
                    <tr>
                        <td>
                            <img src="https://gallica.bnf.fr/iiif/ark%3A%2F12148%2Fbtv1b8451620k/{{folio}}/full/full/0/native.jpg" style="width:300px;"/>
                        </td>
                        <td>
                            <ul>
                                <li>Identifiant : {{donnees.id}}</li>
                                <li>Transcription : {{donnees.ocr}}</li>
                            </ul>
                            <ul>
                                {% if donnees.commentaire %}
                                <li>Commentaire : {{donnees.commentaire}}</li>

                                {% else %}

                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                </table>
            {% endblock %}
        </div>
    </body>
</html>