<!-- Template correspondant à l'affichage des résultats d'une recherche -->

{% extends "partials/conteneur.html" %}

{% block body %}

<div class="container">
    <!-- Titre de la page reprenant la chaîne recherchée par l'utilisateur -->
    <h2>Résultats de recherche pour "{{ requete }}"</h2>
    <br>
    <div class="row">

    <!-- Affichage des poèmes dont les données contiennent la chaine recherchée -->
        <div class="col-4 offset-1">
            <ul>
            <!-- Itération sur le résultat de la requête dans la table Poemes définie dans la route -->
            {% for poemes in donnees.items %}
            <a class="list-group-item" href="{{ url_for('info_poeme', folio=poemes.id) }}" data-toggle="tooltip" data-placement="bottom" title="{{poemes.ocr}}">
                <li>{{poemes.titre}}, {{poemes.id}}</li>
            </a>
            {% endfor %}
            </ul>
        </div>

        <!-- Affichage des pages des illustrations dont les données contiennent la chaine recherchée -->
        <div class="col-4 offset-1">
            <ul>
                <!-- Itération sur le résultat de la requête dans la table Herbier définie dans la route -->
                {% for plante in donnees2.items %}
                <a class="list-group-item" href="{{ url_for('info_plante', folio=plante.id) }}" onclick="loading();">
                    <li><img src="{{url}}3A%2F12148%2Fbtv1b8451620k/{{plante.id}}/full/full/0/native.jpg" class="mini"/>
                        {{plante.poems[0].titre}}</li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}