{% extends "partials/conteneur.html" %}

{% block body %}

<style>
    h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
        color: olivedrab;
        font-variant: small-caps;
        font-size: 40px;
        text-shadow: 2px 2px 4px olive;
    }

    .list-group-item {
        text-align: center;
        border-radius: 20px;
        background-color: olivedrab;
        text-transform: uppercase;
        color: wheat;
    }

    .list-group-item li {
        margin-left: 20px;
        padding: 10px;
        text-align: left;
    }

    ul {
        border-radius: 20px;
        align-items: center;
    }
</style>

<div class="container">
    <h1>Résultats de recherche pour "{{ requete }}"</h1>
    <br>
    <div class="row">
        <div class="col-4 offset-1">
            <ul>
            {% for poemes in donnees.items %}
            <a class="list-group-item" href="{{ url_for('info_poeme', folio=poemes.id) }}">
                <li>{{poemes.titre}}, {{poemes.id}}</li>
            </a>
            {% endfor %}
            </ul>
        </div>
        <div class="col-4 offset-1">
            <ul>
                {% for plante in donnees2.items %}
                <a class="list-group-item" href="{{ url_for('info_plante', folio=plante.id) }}">
                    <li><img src="https://gallica.bnf.fr/iiif/ark%3A%2F12148%2Fbtv1b8451620k/{{plante.id}}/full/full/0/native.jpg" style="width:60px;"/>
                        {{plante.poems[0].titre}}</li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}