<!-- Template à afficher en cas d'erreur 404 -->

<html>
    <body>
        <div align="center">
            <!-- Message principal -->
            <h1>La page demandée n'a pas été trouvée</h1>
            <!-- Lien pour permettre à l'utilisateur de revenir à l'accueil de l'application -->
            <a href="{{ url_for('accueil') }}">Revenir à l'accueil</a><br>
            <!-- Image -->
            <img src="https://pbs.twimg.com/media/EzdmZZ9WYAUKUHw.jpg"/>
        </div>
    </body>
</html>