<!-- Template affiché en cas d'erreur 500 ou 503 -->

<html>
    <body>
        <div align="center">
            <!-- Texte principal -->
            <h1>Une erreur inattendue est survenue</h1>
            <!-- Lien pour permettre à l'utilisateur de revenir à l'accueil de l'application -->
            <a href="{{ url_for('accueil') }}">Revenir à l'accueil</a><br>
            <!-- Image -->
            <img src="https://pbs.twimg.com/media/EzdmZZ9WYAUKUHw.jpg"/>
        </div>
    </body>
</html>