<!-- Template pour le conteneur du site -->

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include "partials/metadata.html" %}
    {% include "partials/js.html" %}
    {% include "partials/css.html" %}
    <title>Le poète à la main verte | {{sous_titre}}</title>
    <link rel='icon' href="https://cdn-icons-png.flaticon.com/512/7593/7593027.png" type='image/x-icon' sizes="16x16" />
    
    {% block js %}
      <script type="text/javascript">
        // <![CDATA[
          function loading(){
            // Tant que la fonction de la route n'a pas fini de s'exécuter, afficher un message de chargement et cacher le contenu.
            $("#loading").show();
            $("#content").hide();       
          }
        // ]]>
      </script>
    {%endblock%}
  </head>

  <body>
    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-brand">
            <a href="{{ url_for('accueil') }}">
              <img src="https://cdn-icons-png.flaticon.com/512/7593/7593027.png" style="width:40px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('herbier') }}">Coin herbier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('poemes') }}">Coin poèmes</a>
          <!-- Si l'utilisateur est connecté, lui proposer de se déconnecter -->
          {%if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('deconnexion') }}">Se déconnecter ({{ current_user.pseudo }})</a>
          </li>
          <!-- Sinon, lui proposer de se connecter ou de créer un compte-->
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('connexion') }}">Se connecter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('creation_utilisateur') }}">S'enregistrer</a>
          </li>
          {% endif %}
        </ul>
        {% include "partials/formulaires/recherche_rapide.html" %}
    </nav>

    <!-- Bannière du site -->
    <header class="jumbotron-fluid bg-image">
      <!-- Style des flashing messages pour transmettre des informations à l'utilisateur -->
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
          <div class="col">
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}
      </div>
      <div class="container">
        <div class="col">
          <h1 class="text-center">Le poète à la main verte</h1>
        </div>
      </div>
    </header>
    
    <!-- Message de chargement pour requêtes d'identification des plantes qui prennent 2 à 5s -->
    <div id="loading">
      <img src="/statics/loading.gif" width="70px">
      <br>
      Chargement des données...
    </div>
    <!-- Contenu à afficher quand la fonction est exécutée -->
    <div id="content">
      {% block body%}{%endblock%}
      <footer>
        <div class="container">
          <p class="p-3 mb-0">
            Application réalisée par Clara Hermant-Bertoni et Jade Norindr dans le cadre du cours de Python du M2 TNAH (2022-2023).
          </p>   
        </div>   
      </footer>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
  </body>
</html>
